/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
}

body, html {
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  font-family: 'Rubik', sans-serif;
  color: white;
}

html {
  background: black;
}

.scroll-container {
  height: auto;
  min-height: 100vh;
  padding: 0px 20px;
  max-width: 1800px;
  margin: auto;
  z-index: -2;
}

section {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  margin: auto;
  z-index: 2;
}

.section-title {
  font-weight: bold;
  font-size: 36px;
}

.gradient-text {
  background: linear-gradient(90deg, #FADF11, #1E1BF9);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline;
}


/* ANIMATIONS */
#background-dots {
  position: fixed;
  top: 0;
  left: 0;
  display: block;

  z-index: -2;
}

.moving-blob {
  position: fixed;
  top: 0;
  right: 0;
  width: 80vw;
  height: 70vh;
  background: radial-gradient(
    ellipse at center, 
    rgba(250, 223, 17, 0.8) 0%, 
    rgba(30, 27, 249, 0.8) 34%, 
    rgba(0, 0, 0, 1) 60%
  );
  mix-blend-mode: screen;
  z-index: -1;
  transform-origin: center center;
  border-radius: 70% / 100%;
  opacity: 0.8;
  will-change: transform, border-radius, opacity;
  filter: blur(20px);
  transition: background 0.8s ease-out;
}

@keyframes blobMove {
  0%   { transform: translate(0%, 0%); }
  25%  { transform: translate(-50%, -30%); }
  50%  { transform: translate(-50%, 20%); }
  75%  { transform: translate(10%, -30%); }
  100% { transform: translate(0%, 0%); }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
