/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
}

body, html {
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  font-family: 'Rubik', sans-serif;
  color: white;
}

.scroll-container {
  height: auto;
  min-height: 100vh;
  padding: 0px 20px;
  max-width: 1800px;
  margin: auto;
  z-index: -2;
}

section {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  margin: auto;
  z-index: 2;
}

.section-title {
  font-weight: bold;
  font-size: 36px;
}


/* ANIMATIONS */
#background-dots {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  mix-blend-mode: screen;
  z-index: -2;
}

.moving-blob {
  position: fixed;
  top: 0;
  left: 0;
  width: 150vw;
  height: 150vh;
  background: radial-gradient(circle, rgba(187, 199, 54, 1) 0%, rgba(10, 10, 255, 1) 34%, rgba(0, 0, 0, 1) 44%);
  mix-blend-mode: screen;
  animation: blobMove 60s ease-in-out infinite alternate;
  z-index: -1;
}

@keyframes blobMove {
  0%   { transform: translate(0%, 0%); }
  25%  { transform: translate(-50%, -30%); }
  50%  { transform: translate(-50%, 20%); }
  75%  { transform: translate(10%, -30%); }
  100% { transform: translate(0%, 0%); }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
